.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin: 0 0.5rem 0 0.25rem;
}

.row:not(:last-child) {
  margin: 0 0 1rem 0;
}

.value {
  margin: 0.125rem 0 0 0;
  padding: 0 1rem;

  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
}

.button {
  padding: 0 0.75rem 0.25rem 0.75rem;
  border: 0.125rem solid transparent;
  border-radius: 0.125rem;
  outline: none;

  color: rgb(112, 76, 182);
  font-size: 2rem;

  appearance: none;
  background: none;
  background-color: rgba(112, 76, 182, 0.1);

  cursor: pointer;
  transition: all 0.15s;
}

.textbox {
  width: 4rem;
  margin: 0 0.25rem 0 0;
  padding: 0.125rem;

  font-size: 2rem;
  text-align: center;
}

.button:hover,
.button:focus {
  border: 0.125rem solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
  position: relative;

  composes: button;
}

.asyncButton::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(112, 76, 182, 0.15);
  opacity: 0;

  content: "";
  transition: width 1000ms linear, opacity 500ms ease 1000ms;
}

.asyncButton:active::after {
  width: 0;

  opacity: 1;

  transition: 0ms;
}
